<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/icon.png" />
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/plus.css" rel="stylesheet">
	<link href="/journal/atom.xml" rel="alternate" title="Velsheda" type="application/atom+xml" />
	<meta name="google-site-verification" content="B3BMz_b4fDFk7Dkn-wfVDyikhrJGZGoqbpaG70pJghk" />
	<meta name="y_key" content="040c5a8b0c8e0750" />
	<meta name="author" content="EH" />
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<a class="navbar-brand" href="/journal/index.html">Velsheda</a>
</div>
<div class="collapse navbar-collapse" id="menu-collapse">
<ul class="nav navbar-nav">
<li><a href="/journal/archive.html">Archive</a></li>
<li><a href="/journal/categories.html">Categories</a></li>
<li><a href="/journal/about.html">Contact</a></li>
<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Links</a>
<ul class="dropdown-menu">
	<li><a href="https://bitbucket.org/manu">Bitbucket</a></li>
	<li><a href="http://www.goodreads.com/user/show/2385793">Goodreads</a></li>
	<li><a href="http://last.fm/">Last.fm</a></li>
	<li><a href="https://linuxfr.org/">DLFP</a></li>
</ul></li>
</ul>
</div>
</div>
</nav>
<div class="container-fluid">
{{ content }}
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
