<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/icon.png" />
	<link href="css/spectre.min.css" rel="stylesheet">
	<link href="css/plus.css" rel="stylesheet">
	<link href="atom.xml" rel="alternate" title="Velsheda" type="application/atom+xml" />
	<meta name="google-site-verification" content="M00Jcrx7i3lVqrFbZJ5UW_Mb_vIrPrE9EMQon29O5bQ" />
	<meta name="author" content="EH" />

</head>
<body>
<nav class="navbar">
	<section class="navbar-section">
<a class="navbar-brand btn btn-link" href="/index.html">Velsheda</a>
	</section>
<section class="navbar-section">
<a class="btn btn-link" href="/archive.html">Archive</a>
<a class="btn btn-link" href="/categories.html">Categories</a>
<a class="btn btn-link" href="/about.html">Contact</a>
</section>
</nav>
<div class="container">
{{ content }}
</div>
</body>
</html>
