<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8" />
<title>{{ page.title }} [velsheda]</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../../css/spectre.min.css" rel="stylesheet">
<link href="../../css/plus.css" rel="stylesheet">
<link rel="stylesheet" href="../../css/pygments.css" type="text/css" media="screen, projection" />
<link rel="icon" type="image/png" href="/icon.png" />
<meta name="author" content="EH" />
</head>
<body>
<nav class="navbar">
	<section class="navbar-section">
<a class="navbar-brand btn btn-link" href="/index.html">Velsheda</a>
	</section>
<section class="navbar-section">
<a class="btn btn-link" href="/archive.html">Archive</a>
<a class="btn btn-link" href="/categories.html">Categories</a>
<a class="btn btn-link" href="/about.html">Contact</a>
</section>
</nav>
<div class="hero hero-sm bg-dark"><div class="hero-body">
	<h2>{{ page.title }}</h2>
</div></div>
<div class="container grid-lg">
<div class="columns">
<div class="column col-10 col-sm-12">
 <div id="tag">
   {% for category in page.categories %}
   &mdash;&nbsp;<a href="/categories.html#{{ category }}">{{ category }}</a>&nbsp;
   {% endfor %}</div>
 {{ content }}
<div class="date">Écrit le {{ page.date | date_to_long_string }} par <a href="https://plus.google.com/103784259248105086753?rel=author">Emmanuel</a></div>
</div>
<div class="column col-2 col-sm-12">
  <a href="/index.html">Index</a><br /><br />
  {% if page.next %}Next: <a href="{{ page.next.url }}">{{ page.next.title }}</a><br /><br />{% endif %}
  {% if page.previous %}Prev: <a href="{{ page.previous.url }}">{{ page.previous.title }}</a><br />{% endif %}
</div>
</div>
</div>
</body>
</html>
